# Extensions
*.vscode
*.code-workspace

# Directories
/node_modules
/public
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vue-slider.iml
.idea/workspace.xml
package-lock.json
package-lock.json
package-lock.json
